<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <a [routerLink]="['/']">Justin Hull</a>
    </mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/about']" mat-list-item>About Me</a>
      <a [routerLink]="['/about']" mat-list-item>Experience</a>
      <a [routerLink]="['/about']" mat-list-item>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <!--<img class="logo" src="../../../../assets/Logo.svg" alt="Logo">-->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [routerLink]="['/']">
        <span *ngIf="isHandset$ | async" class="toolbar-heading">Justin Hull</span>
      </a>
      <span class="spacer"></span>
      <a [routerLink]="['/about']" mat-list-item>About Me</a>
      <a [routerLink]="['/about']" mat-list-item>Experience</a>
      <a [routerLink]="['/about']" mat-list-item>Contact</a>
    </mat-toolbar>
    <ng-content class="content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
